<section id="content">
  <div id="greeting">
    <h1>{{ greeting }}</h1>
  </div>
  <section id="toDoList">
    <h2>TODO List</h2>
    <p>A place to store your "todo's"</p>
    <input type="text" placeholder="Filter your todo's" />
    <div id="listItems">
      <ol>
        <li *ngFor="let item of toDoList; index as i">
          {{ item.todo }}
          <i class="fas fa-times" id="deleteItem" (click)="deleteATodo()"></i>
        </li>
      </ol>
    </div>
    <form id="add" #addItemForm="ngForm" (ngSubmit)="addATodo(addItemForm)">
      <input type="text" name="todoItem" placeholder="Add a todo" ngModel />
      <button>Add</button>
    </form>
  </section>
</section>
