<main>
  <div id="greeting">
    <h1>{{ greeting }}</h1>
  </div>
  <section id="toDoList">
    <div id="headers">
      <h2>To-do List</h2>
      <p>A place to store your "todo's"</p>
      <input type="text" placeholder="Search for a todo item" id="filter" />
    </div>
    <div id="listItems">
      <ol>
        <li *ngFor="let item of toDoList; index as i">
          {{ item.todo }}
          <i
            class="fas fa-times"
            id="deleteButton"
            (click)="deleteATodo(i)"
          ></i>
        </li>
      </ol>
    </div>
    <form id="addForm" #addItemForm="ngForm" (ngSubmit)="addATodo(addItemForm)">
      <input
        type="text"
        name="todoItem"
        placeholder="Add a todo item to your list"
        ngModel
      />
      <button id="addButton">Add</button>
    </form>
  </section>
</main>
